@import 'colors';

.App header {
  padding: 15px;
  background-color: $background;
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 15px;
  h1{
    font-size: 2rem;
  }
  button{
    align-self: flex-end;
  }
}